  .b.circle {
    /*stroke: #000;*/
    fill: #053A67;
  }

  .b.circle:hover {
    fill: #813386;
  }

  .a.circle {
    /*stroke: #000;*/
    fill: #A05C00;
  }

  .a.circle:hover {
    fill: #813386;
  }


  .axis {
    font: 2px, sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #ffffff;
    shape-rendering: crispEdges;
  }

  .d3-tip {
    font: 2px, sans-serif;
    line-height: 1;
    font-weight: bold;
    padding: 5px;
    background: #000000;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
  }

/* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

/* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }
